.history-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.list-item {
  display: flex;
}

.list-item p {
  margin: 10px;
}

.delete-btn {
  background-color: transparent;
  border: none;
}
